<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>百度贴吧图片采集系统后台登录 | 风之翼灵 www.fungj.com</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="header">
    <div class="am-g">
      <h1>百度贴吧图片采集系统后台登录</h1>
      <p>
        By 风之翼灵 www.fungj.com
      </p>
    </div>
    <hr />
  </div>
  <div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <h3>登录</h3>
      <hr>

      <form class="am-form" action="" method="post">
        <fieldset class="">
          <div class="am-form-group">
            <input type="text" class="" id="doc-ipt-email-1" name="username" placeholder="用户名" required/>
          </div>
          <div class="am-form-group">
            <input type="password" class="" id="doc-ipt-pwd-1" name="password" placeholder="密码" required/>
          </div>
          <div class="am-form-group">
            <input type="text" class="" id="doc-ipt-pwd-1" name="captcha" placeholder="验证码" required/>
          </div>
          <div>
            <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}?'+new Date().getTime();" />
          </div>
          <p>
            <button type="submit" class="am-btn am-btn-primary am-radius">登录</button>
          </p>
        </fieldset>
      </form>
      <hr>
      <p>© Copyright @ 2016-2017 www.FungJ.com All rights reserved.</p>
    </div>
  </div>
</body>
</html>