<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>关于</h3>
            <p class="am-text-sm">
                这是每天不停更新各种自拍图片的小站，希望您喜欢
                <br> 如果你有更多的建议，可以邮件到 office@fungj.com
                <br> 本站支持多平台，推荐手机访问
                <br>
            </p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交</h3>
            <p>
                <a href="">
            <span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span>
          </a>
                <a href="">
            <span class="am-icon-github am-icon-fw blog-icon blog-icon"></span>
          </a>
                <a href="">
            <span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span>
          </a>
                <a href="">
            <span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span>
          </a>
                <a href="">
            <span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span>
          </a>
            </p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h1>我的小伙伴</h1>
            <p>
                <ul>
                    <li><a href="http://www.fungj.com">风之翼灵blog</a></li>
                    <li><a href="http://vps.fungj.com">VPS监控</a></li>
                </ul>
            </p>
        </div>
    </div>
    <div class="blog-text-center">
        © Copyright @ 2016-2017 www.FungJ.com All rights reserved. 滇ICP备06001881号-2
        <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f6f4f8869b6618b3a353091ca3538471";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </div>
</footer>