<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{$icolumn}，自拍，美女，女神，丝袜，高跟，写真">
    <meta name="description" content="{$title}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$title} | 风之翼灵的图片小站</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="__PUBLIC__/indexui/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/indexui/css/app.css">
</head>

<body id="blog">
    {include file="index/top" /} {include file="index/nav" /}
    <hr>
    <!-- content srart -->
    <div class="am-g am-g-fixed blog-fixed blog-content">
        <div class="am-u-sm-12">
            <article class="am-article blog-article-p">
                <div class="am-article-hd">
                    <h1 class="am-article-title blog-text-center">{$title}</h1>
                    <p class="am-article-meta blog-text-center">
                        <span>{$time}</span> &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="am-text-danger">Clicks&nbsp;&nbsp; {$Clicks} °C</span>
                    </p>
                </div>
                <hr>
                <div style="text-align:center;">
                    <script type="text/javascript">
                    /*640*60 创建于 ‎2017‎年‎9‎月‎7‎日*/
                    var cpro_id = "u3088110";
                    </script>
                    <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
                </div>
                <div style="text-align:center;">
                    <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
                        {volist name="pic" id="vo"}
                        <p>
                            <img src="{$vo}" alt="" class="blog-entry-img blog-article-margin" data-am-scrollspy="{animation: 'fade'}"></p>
                        {/volist}
                    </figure>
                </div>
            </article>
            <div class="am-g blog-article-widget blog-article-margin">
                <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
                    <!-- 代码1：放在页面需要展示的位置  -->
                    <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
                    <div id="cyReward" role="cylabs" data-use="reward"></div>
                    <br />
                    <span class="am-icon-tags"> &nbsp;</span><a href="index?tag={$icolumn}">{$icolumn}</a>
                    <hr>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
                    </div>
                    <script>
                    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "24" }, "share": {} };
                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                </div>
            </div>
            <div style="text-align:center;">
                <script type="text/javascript">
                /*640*60 创建于 ‎2017‎年‎9‎月‎7‎日*/
                var cpro_id = "u3088110";
                </script>
                <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
            </div>
            <div class="am-g blog-article-margin">
                <button type="button" class="am-btn am-btn-primary am-round" data-am-modal="{target: '#my-alert'}">
                    举报
                </button>
                <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                    <div class="am-modal-dialog">
                        <div class="am-modal-hd">举报事由</div>
                        <div class="am-modal-bd">
                            <form class="am-form" accept="" method="post">
                                <div class="am-form-group">
                                    <textarea class="" rows="3" id="doc-ta-1" name="reportinfo" required/></textarea>
                                    <input type="text" class="am-hide" name="uid" value="{$id}" required/>
                                    <br/>
                                    <button type="submit" class="am-btn am-btn-warning">提交</button>
                                </div>
                            </form>
                        </div>
                        <div class="am-modal-footer">
                            <span class="am-modal-btn">关闭</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="am-g blog-author blog-article-margin">
                <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                    <img src="{$apic}" alt="" class="blog-author-img am-circle"></div>
                <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                    <h3>
            <span>作者 &nbsp;: &nbsp;</span>
            <span class="blog-color">{$author}</span>
          </h3>
                    <p>{$title} ...</p>
                </div>
            </div>
            <hr>
            <ul class="am-pagination blog-article-margin">
                <li class="am-pagination-prev">
                    <a href="show?id={$passid}.html" class="">&laquo; 一切的回顾</a>
                </li>
                <li class="am-pagination-next">
                    <a href="show?id={$lastid}.html">不远的未来 &raquo;</a>
                </li>
            </ul>
            <hr>
            <!-- 评论 -->
            <!--PC和WAP自适应版-->
            <div id="SOHUCS" sid="{$id}"></div>
            <script type="text/javascript">
            (function() {
                var appid = 'cyrwyTC2v';
                var conf = 'prod_4e1bc1f9223d6979bc7cf3df12358231';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                } else {
                    var loadJs = function(d, a) {
                        var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                        var b = document.createElement("script");
                        b.setAttribute("type", "text/javascript");
                        b.setAttribute("charset", "UTF-8");
                        b.setAttribute("src", d);
                        if (typeof a === "function") {
                            if (window.attachEvent) {
                                b.onreadystatechange = function() {
                                    var e = b.readyState;
                                    if (e === "loaded" || e === "complete") {
                                        b.onreadystatechange = null;
                                        a()
                                    }
                                }
                            } else { b.onload = a }
                        }
                        c.appendChild(b)
                    };
                    loadJs("https://changyan.sohu.com/upload/changyan.js", function() { window.changyan.api.config({ appid: appid, conf: conf }) });
                }
            })();
            </script>
            <!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
            <!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
            <!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
            <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
            <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cyrwyTC2v"></script>
            <hr>
        </div>
    </div>
    <!-- content end -->
    {include file="index/footer" /}
    <!--[if (gte IE 9)|!(IE)]>
<!-->
    <script src="__PUBLIC__/indexui/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/indexui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
    <script src="__PUBLIC__/indexui/js/amazeui.min.js"></script>
    <!-- <script src="__PUBLIC__/indexui/js/app.js"></script>
-->
</body>

</html>